@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@layer base {
  html,
  body {
    width: 100%;
    overflow-x: clip;
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }
}

@keyframes progress {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

@keyframes searchbar-slide {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(300%);
  }
}

.animate-progress {
  animation: progress 5s linear forwards;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  overflow: hidden;
  /* or overflow-y: hidden */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.range-thumb::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #35281e;
  border: 2px solid #fff;
  box-shadow: 0 0 0 1px #d9ccc3;
  cursor: pointer;
}

.range-thumb::-moz-range-thumb {
  pointer-events: auto;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #35281e;
  border: 2px solid #fff;
  box-shadow: 0 0 0 1px #d9ccc3;
  cursor: pointer;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
